body {
	background-color: #eee;
	font-family: Arial;
}
.menu{
	background-color: #00695C;
}
.menu{
	/* Suppression des puces et des marges pour les listes du menu et des sous-menus */
	list-style-type: none;
	margin: 0px;
	padding: 0px;
    border-radius: 15px;
}
.menu li{
	/* Disposition horizontale des elements de menu */
	display: inline-block;
	
	/* Positionnement relative des elements de menu pour pouvoir positionner les sous-menu correctement en absolu */
	
	position: relative;
    border-radius: 15px;
}
.menu a{
	/* On transforme les liens en bloc pour pouvoir les dimensionner */
	display: block;
	
	/* Dimensions des liens */
	width: 180px;
	height:35px;
	line-height: 30px;
	padding: 0px 0px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
	text-align: left;
	
	/* Espacement entre chaque lignes */
	margin-right: 10px;
    margin-left: 10px;
	
	/* Suppression de soulignement */
	text-decoration: none;
}
.menu li:hover ul{
	/* Affichage du sous-menu au survol */
	display: block;
	
	/* Positionnement du sous-menu */
	position: absolute;
	top: 36px;/* Hauteur du menu + hauteur du padding top et bottom : 30 + 3 + 3 = 36 */
	left: 0px;/* Decalage du sous-menu par rapport aux liens du menu */
	z-index: 100;/* Gestion de la superposition par rapport au reste de la page */
}
.menu ul a{
	/* Changement de l'affichage des liens des sous-menus pour ne pas les afficher en inline-block comme les liens du menu, ils seront donc verticaux */
	display: block;
}
/* gestion des couleurs */
.menu li{
	background-color: #00695C;/* Couleur d'arriere-plan du menu */
}
.menu li a{
	color: mintcream;/* Couleur du texte du menu */
}
.menu li:hover{
	background-color: #000;/* Couleur d'arriere-plan du menu au survol */
}
.linkedin{
    float: right;/* Permet de retirer le lien linkedin du flux normal et de le mettre à droite */
}
.menu .linkedin:hover{
    background-color: #00695C;/* arrièr plan du lien linkedin au survol */
}
.linkedin a{
    display: block;
	
	/* Dimensions du liens */
	width: 35px;
	height:35px;
	line-height: 0px;
	padding: 0px 0px 0px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
	
	/* Espacement entre chaque lignes */
	margin-right: 20px;
}
.imglink{
    width: 35px;/* Dimensions de l'image linkedin */
    -webkit-filter: grayscale(100%);/* webkit pour les navigateurs ne supportant pas filter */
    filter: grayscale(100%);/* filtre en gris a 100% pour le logo de linkedin */
    transition: filter 0.32s;/* transition pour l'effet hover du logo de linkedin */
}
.imglink:hover {
    filter: grayscale(0%);/* filtre en gris du logo linkedin à 0% au survol */
}
.cv{
    display: grid;/* affichage en grid pour la structure du cv */
    padding: 25px;/* ecart de remplissage entre les éléments du div cv */
    list-style-type: none;/* Suppression des puces */
    grid-template-columns: 1fr 2fr;/* structure de la grid en 1/3 à gauche, 2/3 à droite */
}
.left-column{
    /* propriétés de la colonne de gauche */
    background-color: #4472C4;
    padding: 25px;
    color: mintcream;
    font-size: 19px;
}
.right-column{
    /* propriétés de la colonne de droite */
    background-color: #A6ACAF;
    padding: 25px;
    font-size: 18px;
}
.profil {
    /* propriétés de la phot de profil */
    display: block;
    width: 30%;
    border-radius: 50%;/* bords arrondis à 50% */
    margin: auto;
}
.comp li{
    margin: 10px;/* marge de la liste des compétences */
}
.motive{
    padding: 25px 300px;/* ecart de remplissage entre les élements du div motive de la lettre de motivation */
}
.motive p{
    font-size: 18px;/* taille de la police des paragraphes du div motive */
}
footer{
	display: block; /* On transforme les liens en bloc pour pouvoir les dimensionner */
	position: absolute; /* Positionnement du footer */
	bottom: 0; /* Enplacement de l'élément par rapport au bas de la page */
	width: 99%; /* Largeur du footer */
	height: 20px; /* Longueur du footer */
	background-color: slategrey; /* Couleur d'arriere-plan du footer */
	text-align: center; /* Alignement du texte du footer */
}
footer p{
	color: mintcream; /* couleur du texte */
	margin-right: 30px; /* marge à droite de 30px */
    margin: auto auto;
    text-align: center;
}